green = #D3E298
white = #FDFFFC
font = 'Raleway', sans-serif

body 
	background-color green

.wrapper
	background-color darken(green, 30)
	width 50%
	margin 20px auto

h1
	margin 20px
	padding 20px
	text-align center
	border-bottom 1px solid white
	color white
	font-family font

form
	padding 20px
	margin 20px

.inputs
	display inline
	clear both
	margin 10px auto
	font-family font

input
	width 100%

select
	width 100%
	margin 10px auto
	font-family font

button
	display block
	margin 10px auto
	font-family font

p
	font-family font
	padding-bottom 20px
	text-align center
	color white

@media (max-width: 600px)
	.wrapper
		width 300px